@import "tailwindcss";

:root {
  --background: var(--color-bg-gradient);
  --foreground: var(--color-deep-mocha);
  --font-sans: var(--font-montserrat);
}

h1 {
  @apply font-[600]
    text-[24px]
   sm:text-[30px]
  md:text-[32px]
    lg:text-[36px];
}
h2 {
  @apply font-[600]
    text-[18px]
     sm:text-[22px]
  md:text-[26px]
    lg:text-[30px];
}
h3 {
  @apply font-[600]
    text-[16px]
   sm:text-[18px]
  md:text-[20px]
    lg:text-[24px];
}
p {
  @apply text-justify
   leading-snug
    text-[14px] 
    sm:text-[16px]
  md:text-[17px]
    lg:text-[18px];
}
a {
  @apply text-cinereous;
}
